*.o
*.elf
*.log
*.iso
*.img
*.uibak
*.BIN
*.qcow2
*.tar
*.sea
*.vhd
*.tmp
*.pcap
*.d
**/*.map
/rust/target
.idea/
iso/ramdisk
disk*.img
/build/
/build*/
cmake-*/
compile_commands.json
.cache/
test_*
*.wav
/kernel/include/generated/*
/analyzer.txt
ramdisk/dao-editor
